.box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.flex-container {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* height: 500px; */
    /* align-items: stretch; */
    /* flex-wrap: wrap; */
    margin-bottom: 10px;
}

#div-b {
    flex-grow: 2;
}

#div-c {
    flex-grow: 1;
}

#div-c2 {
    flex-shrink: 2;
}